/*@gray-base:                 #000;
@gray-dark:                 lighten(@gray-base, 20%);   // #333
@gray:                      lighten(@gray-base, 46.7%); // #777
@gray-light:                lighten(@gray-base, 80%); // #ccc
@gray-lighter:              lighten(@gray-base, 100%); // #fff*/
/*list*/
/*button*/
/* Tab */
@font-face {
  font-family: "iconfont";
  src: url(font/iconfont.eot);
  src: url(font/iconfont.eot?#iefix) format('embedded-opentype'), url(font/iconfont.woff) format('woff'), url(font/iconfont.ttf) format('truetype'), url(font/iconfont.svg?#iconfont) format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* 这里代码不准注释，只能添加，删除要谨慎 */
.icon-arrowR:before {
  content: "\E736";
}
.icon-arrowL:before {
  content: "\E737";
}
.icon-arrowT:before {
  content: "\E731";
}
.icon-arrowB:before {
  content: "\E735";
}
.icon-cancel:before {
  content: "\E6A7";
}
.icon-guanbi:before {
  content: "\E63E";
}
.icon-go:before {
  content: "\E600";
}
/* 汽车助手 */
.icon-woshenpideline_:before {
  content: "\E732";
}
.icon-fangziglyph_:before {
  content: "\E758";
}
.icon-csousuo:before {
  content: "\E728";
}
.icon-xiangxialine_:before {
  content: "\E735";
}
.icon-xiangzuoline_:before {
  content: "\E737";
}
.icon-xuanze_:before {
  content: "\E770";
}
.icon-quxiaoline_:before {
  content: "\E722";
}
.icon-quxiaoglyph_:before {
  content: "\E721";
}
.icon-xiangjiline_:before {
  content: "\E791";
}
.icon-rililine_:before {
  content: "\E777";
}
.icon-kepai-gongli:before {
  content: "\E7CA";
}
.icon-kepai-peizhi:before {
  content: "\E7CB";
}
.add_line:before {
  content: "\E7AB";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  /* IOS禁止微信调整字体大小 */
  -webkit-text-size-adjust: 100% !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
button,
input,
textarea {
  border: 0;
  outline: none;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
a {
  text-decoration: none;
}
pre {
  white-space: pre-wrap;
}
.bodyUnScroll {
  overflow: hidden;
}
button,
input,
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
input,
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  line-height: normal;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea {
  resize: none;
}
/*
 增加不常规字体方案：一个参数的是正常比例换算方式
 floor--像下取整
 如：
 .font-responsive(40)
 结果：
 .font-40{
    font-size: 40px;
 }
 @media screen and (min-device-width: 375px) and (max-device-width: 413px) {
    .font-40{
      font-size: 46px;
    }
  }

  @media screen and (min-device-width: 414px){
    .font-40{
      font-size: 51px;
    }
  }
 */
/*
 增加不常规字体方案：三个参数的是媒体查询已输出的值为准
 如：
 .font-responsive(40,20,30)
 结果:
 .font-40{
  font-size: 40px;
 }
 @media screen and (min-device-width: 375px) and (max-device-width: 413px) {
    .font-40{
      font-size: 20px;
    }
  }
  @media screen and (min-device-width: 414px){
    .font-40{
      font-size: 30px;
    }
  }
*/
html {
  font-size: 16px;
  height: 100%;
}
body {
  height: 100%;
}
body {
  position: relative;
  font: 16px 'PingFangSC-Light', 'PingFang-Light', 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Droidsansfallback', 'Droid Sans', STHeiti, '\534E\6587\7EC6\9ED1', 'Helvetica Neue', SimHei, Helvetica, Arial, sans-serif;
  background-color: #f0eff5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Remove highlight on tap event*/
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-x: hidden;
  height: 100%;
  font-size: 0;
}
a:active {
  color: #fff;
}
a.link:active {
  color: #999;
}
body {
  font-size: 16px;
}
.font-36,
h1,
.h1 {
  font-size: 36px;
}
.font-32 {
  font-size: 32px;
}
.font-30,
h2,
.h2 {
  font-size: 30px ;
}
.font-24,
h3,
.h3 {
  font-size: 24px ;
}
.font-20 {
  font-size: 20px ;
}
.font-19 {
  font-size: 19px ;
}
.font-18,
h4,
.h4 {
  font-size: 18px ;
}
.font-17 {
  font-size: 17px ;
}
.font-16 {
  font-size: 16px ;
}
.font-15,
h5,
.h5 {
  font-size: 15px ;
}
.font-14 {
  font-size: 14px ;
}
.font-13 {
  font-size: 13px ;
}
.font-12,
h6,
.h6 {
  font-size: 12px ;
}
.font-11 {
  font-size: 11px ;
}
.font-10 {
  font-size: 10px ;
}
.font-9 {
  font-size: 9px ;
}
.font-8 {
  font-size: 8px ;
}
@media screen and (min-device-width: 375px) and (max-device-width: 413px) {
  body {
    font-size: 17px;
  }
  .font-36,
  h1,
  .h1 {
    font-size: 42px;
  }
  .font-32 {
    font-size: 37px;
  }
  .font-32 {
    font-size: 37px;
  }
  .font-30,
  h2,
  .h2 {
    font-size: 35px;
  }
  .font-24,
  h3,
  .h3 {
    font-size: 28px;
  }
  .font-20 {
    font-size: 23px;
  }
  .font-19 {
    font-size: 22px;
  }
  .font-18,
  h4,
  .h4 {
    font-size: 21px;
  }
  .icon-leave.font-18 {
    font-size: 23px;
  }
  .font-17 {
    font-size: 19px;
  }
  .font-16 {
    font-size: 18px;
  }
  .font-15,
  h5,
  .h5 {
    font-size: 17px;
  }
  .font-14 {
    font-size: 16px;
  }
  .font-13 {
    font-size: 15px;
  }
  .font-12,
  h6,
  .h6 {
    font-size: 14px;
  }
  .font-11 {
    font-size: 12px;
  }
  .font-10 {
    font-size: 11px;
  }
  .font-9 {
    font-size: 10px;
  }
  .font-8 {
    font-size: 9px;
  }
}
@media screen and (min-device-width: 414px) {
  body {
    font-size: 18px;
  }
  .font-36,
  h1,
  .h1 {
    font-size: 46px;
  }
  .font-34 {
    font-size: 44px;
  }
  .font-32 {
    font-size: 40px;
  }
  .font-30,
  h2,
  .h2 {
    font-size: 38px;
  }
  .font-24,
  h3,
  .h3 {
    font-size: 30px;
  }
  .font-20 {
    font-size: 25px;
  }
  .font-19 {
    font-size: 24px;
  }
  .font-18,
  h4,
  .h4 {
    font-size: 23px;
  }
  .icon-leave.font-18 {
    font-size: 24px;
  }
  .font-17 {
    font-size: 21px;
  }
  .font-16 {
    font-size: 20px;
  }
  .font-15,
  h5,
  .h5 {
    font-size: 19px;
  }
  .font-14 {
    font-size: 18px;
  }
  .font-13 {
    font-size: 16px;
  }
  .font-12,
  h6,
  .h6 {
    font-size: 15px;
  }
  .font-11 {
    font-size: 14px;
  }
  .font-10 {
    font-size: 12px;
  }
  .font-9 {
    font-size: 11px;
  }
  .font-8 {
    font-size: 10px;
  }
}
/* Remove highlight on tap event*/
.default {
  padding-top: 2.1rem;
}
.default .img {
  height: 1.6rem;
  text-align: center;
}
.default .img img {
  height: 100%;
}
.default .img .iconfont {
  font-size: 0.8rem;
  color: #80d439;
}
.default .message {
  margin-top: 0.4rem;
  text-align: center;
  font-size: 0.36rem;
  color: #222222;
  padding: 0 0.8rem;
}
.default .message .title {
  font-size: 0.32rem;
  color: #555555;
}
.default .message .tip {
  margin-top: 0.14rem;
  font-size: 0.24rem;
  color: #555555;
}
.dialog-box {
  line-height: 1;
  text-align: center;
}
.dialog-box .dialog-main {
  position: relative;
  background: #FFFFFF;
  border-radius: 0.16rem;
}
.dialog-box .dialog-main .dialog-content {
  position: relative;
  padding: 0.36rem 0.5rem 0rem 0.5rem;
}
.dialog-box .dialog-main .dialog-content .dialog-title {
  position: relative;
  font-size: 0.32rem;
  color: #222222;
}
.dialog-box .dialog-main .dialog-content .dialog-message {
  position: relative;
  font-size: 0.28rem;
  color: #555555;
  margin-top: 0.24rem;
  margin-bottom: 0.36rem;
  line-height: 1.3;
}
.dialog-box .dialog-main .dialog-content .dialog-no-title {
  height: 0.24rem;
}
.dialog-box .dialog-main .dialog-btn-box {
  position: relative;
  height: 0.8rem;
  line-height: 0.8rem;
}
.dialog-box .dialog-main .dialog-btn-box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.dialog-box .dialog-main .dialog-btn-box .dialog-btn {
  display: inline-block;
  color: #469AFF;
  font-size: 0.28rem;
  float: left;
}
.dialog-box .dialog-main .dialog-btn-box .btn-one .dialog-btn {
  width: 100%;
}
.dialog-box .dialog-main .dialog-btn-box .btn-two .dialog-btn {
  width: 50%;
}
.dialog-box .dialog-main .dialog-btn-box .btn-two .btn-left {
  border-right: 0.5px solid #ddd;
  width: 50%;
  color: #555555;
}
.form-template {
  position: relative;
  font-size: 0.28rem;
  font-family: "Microsoft YaHei UI";
}
.form-template .form-cells {
  position: relative;
  margin-top: 0.2rem;
  background: #FFFFFF;
}
.form-template .form-cells:first-child {
  margin-top: 0rem;
}
.form-template .form-cells-m-t-none {
  margin-top: 0;
}
.form-template .form-cells-b-t:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.form-template .from-other {
  position: relative;
  top: 0.1rem;
  padding-right: 0.2rem;
  margin-left: 0.2rem;
  font-size: 0.24rem;
  color: #999999;
  line-height: 0.36rem;
  padding-bottom: 0.1rem;
}
.form-template .form-cell {
  position: relative;
  padding: 0.27rem 0;
  padding-right: 0.2rem;
  margin-left: 0.2rem;
  clear: both;
  overflow: hidden;
}
.form-template .form-cell:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.form-template .form-cell:last-child:after {
  height: 0;
}
.form-template .form-cell-title {
  float: left;
  width: 2rem;
  color: #222222;
}
.form-template .form-cell-title .list-must {
  width: 0.2rem;
  text-align: center;
}
.form-template .form-cell-title .list-must:before {
  content: "\E67A";
  font-size: 0.12rem;
  -webkit-text-size-adjust: none;
  color: #ff5757;
  vertical-align: middle;
}
.form-template .form-cell-content {
  position: relative;
  top: 0;
  width: 100%;
}
.form-template .form-cell-title + .form-cell-content {
  margin-left: 2rem;
  position: relative;
  top: 0;
  width: auto;
}
.form-template .form-control {
  padding: 0;
  font-size: 0.28rem;
}
.form-template .form-control input {
  display: block;
  color: #555555;
  width: 100%;
  padding: 0;
  font-size: 0.28rem;
  font-family: "Microsoft YaHei UI";
  border: none;
  outline: none;
}
.form-template ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
.form-template .form-control textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 1.3rem;
  color: #555555;
  padding: 0;
  font-size: 0.28rem;
  font-family: "Microsoft YaHei UI";
  border: none;
  outline: none;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 1.5 !important;
}
.form-template .form-text-tip {
  height: 0.4rem;
  text-align: right;
  line-height: 0.4rem;
  font-size: 0.1rem;
}
.form-template .form-cell-vertical {
  position: relative;
  padding-right: 0.2rem;
  margin-left: 0.2rem;
  padding-bottom: 0.2rem;
  clear: both;
  overflow: hidden;
}
.form-template .form-cell-vertical:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.form-template .form-cell-vertical .form-cell-title {
  position: relative;
  top: 0;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
}
.form-template .form-cell-vertical .form-cell-content {
  position: relative;
  top: 0;
  width: 100%;
}
.form-template .form-cell-vertical .form-cell-title + .form-cell-content {
  margin: 0;
  position: relative;
  top: -0.1rem;
  width: auto;
}
.form-template .form-cell-vertical:last-child:after {
  height: 0;
}
.form-template .cell-pt-0 {
  padding-top: 0;
}
.form-template .cell-pb-0 {
  padding-bottom: 0;
}
.form-template .form-select {
  position: relative;
}
.form-template .form-select .select-key {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  z-index: 1;
  border: 1px solid red;
}
.form-template .form-select .select-value {
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 0.28rem;
  color: #555555;
  line-height: initial;
}
.form-template .form-select .select-value span {
  font-family: "Microsoft YaHei UI" !important;
  -webkit-text-stroke-width: 0px;
}
.form-template .form-select input {
  float: left;
  display: inline-block;
  color: #555555;
  width: auto;
  padding: 0;
  font-size: 0.28rem;
  font-family: "Microsoft YaHei UI";
  border: none;
  outline: none;
  height: 0.36rem;
}
.form-template .form-select select {
  display: inline-block;
  color: #555555;
  width: 100%;
  padding: 0;
  font-size: 0.28rem;
  font-family: "Microsoft YaHei UI";
  border: none;
  outline: none;
  height: 0.36rem;
}
.form-template .form-select option {
  text-align: center;
}
.form-template .form-select .select {
  width: 100%;
}
.form-template .form-select .placeholder {
  color: #999999;
  font-size: 0.28rem;
  font-family: "Microsoft YaHei UI" !important;
  -webkit-text-stroke-width: 0px;
}
.form-template .form-img {
  clear: both;
  margin-left: -0.1rem;
  margin-top: -0.1rem;
}
.form-template .form-img .img-item {
  float: left;
  position: relative;
  width: 1.42rem;
  height: 1.42rem;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}
.form-template .form-img .img-item img {
  position: absolute;
  border-radius: 0.08rem;
}
.form-template .form-img .img-item .delete {
  position: absolute;
  right: -0.05rem;
  top: -0.05rem;
  z-index: 1;
  line-height: 1;
  width: 0.2rem;
  height: 0.2rem;
}
.form-template .form-img .add-img {
  border: 1px dashed #dddddd;
  float: left;
  position: relative;
  width: 1.42rem;
  height: 1.42rem;
  line-height: 1.42rem;
  text-align: center;
  margin-left: 0.1rem;
  margin-top: 0.1rem;
  border-radius: 0.08rem;
}
.form-template .form-img .add-img .upload {
  font-size: 0.44rem;
  color: #999999;
}
.form-template .form-img .add-img .upload:before {
  content: "\E696";
}
.form-template .from-switch {
  position: absolute;
  right: 0;
  top: -0.06rem;
}
.form-template .label-switch {
  display: inline-block;
  vertical-align: middle;
  width: 0.82rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  height: 0.5rem;
  position: relative;
  cursor: pointer;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.form-template .label-switch input[type="checkbox"] {
  display: none;
}
.form-template .label-switch .checkbox {
  width: 0.82rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  height: 0.5rem;
  background: #e5e5e5;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.form-template .label-switch .checkbox:before {
  content: ' ';
  position: absolute;
  left: 0.02rem;
  top: 0rem;
  width: 0.82rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  height: 0.5rem;
  background: #ffffff;
  z-index: 1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: scale(1);
  transform: scale(1);
  border: 1px solid #dddddd;
}
.form-template .label-switch .checkbox:after {
  content: ' ';
  height: 0.45rem;
  width: 0.45rem;
  border-radius: 28px;
  background: #fff;
  position: absolute;
  z-index: 2;
  top: 0.02rem;
  left: 0.02rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.form-template .label-switch input[type="checkbox"]:checked + .checkbox {
  background: #469aff;
}
.form-template .label-switch input[type="checkbox"]:checked + .checkbox:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.form-template .label-switch input[type="checkbox"]:checked + .checkbox:after {
  -webkit-transform: translateX(0.33rem);
  transform: translateX(0.33rem);
}
.form-template .choose {
  color: #469aff;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.form-template .choose:before {
  content: "\E67B";
  position: absolute;
  right: 0;
  font-size: 0.3rem;
  top: 0rem;
}
.form-template .form-text-color-red {
  color: #ff5757;
}
.form-template .right-arrow {
  color: #DDDDDD;
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.form-template .right-arrow:after {
  content: "\E6AA";
  position: absolute;
  right: 0;
  font-size: 0.22rem;
  top: 0.06rem;
}
.form-template .text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form-template .form-error {
  position: absolute;
  right: 0;
  top: -0.02rem;
}
.form-template .form-error .iconfont {
  font-size: 0.24rem;
  color: #fd6464;
}
.form-template .form-success {
  position: absolute;
  right: 0;
  top: -0.02rem;
}
.form-template .form-success .iconfont {
  font-size: 0.24rem;
  color: #53c747;
}
.form-template .form-phone-btn {
  width: 1.3rem;
  height: 0.5rem;
  line-height: 0.46rem;
  font-size: 0.24rem;
  border-radius: 0.04rem;
  position: absolute;
  right: 0;
  top: -0.08rem;
  text-align: center;
}
.form-template .form-phone-btn-start {
  border: 1px solid #469aff;
  color: #469aff;
}
.form-template .form-phone-btn-done {
  border: 1px solid #DDDDDD;
  color: #555555;
  background: #DDDDDD;
}
.form-template .form-validate-img {
  width: 1.3rem;
  height: 0.5rem;
  line-height: 0.46rem;
  font-size: 0.24rem;
  border-radius: 0.1rem;
  position: absolute;
  right: 0;
  top: -0.08rem;
  text-align: center;
  display: inline-block;
}
.form-template .form-validate-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
}
.form-template .label-radio {
  width: 100%;
  display: block;
  background: red;
}
.form-template .label-radio .label-icon {
  float: left;
}
.form-template .label-radio .icon-radio {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.form-template .label-radio .font-size-radio {
  font-size: 0.32rem;
  color: #999999;
}
.form-template .label-radio .icon-radio-no:before {
  content: '\E758';
}
.form-template .label-radio .icon-sousuo_:before {
  content: '\E774';
}
.form-template .label-radio .label-title {
  float: left;
}
.form-template-spec {
  padding-bottom: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.word-break {
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
.nowrap {
  word-break: normal;
  word-wrap: normal;
  white-space: nowrap;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.line-height-1 {
  line-height: 1;
}
.font-size-0 {
  font-size: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.opacity-0 {
  opacity: 0;
  filter: alpha(opacity=0);
  pointer-events: none;
  -webkit-pointer-events: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.opacity-0:hover {
  cursor: default;
}
/*flex布局公共*/
.flex {
  display: flex;
  /*new,opera12.1,Firefox20+*/
  display: -moz-box;
  /*old firefox-6*/
  display: -webkit-box;
  display: -webkit-flex;
  /*新版本语法new chrome 21+*/
  display: -ms-flexbox;
  /*混合版本语法IE10*/
  display: box;
}
.flex-1 {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
}
.flex-2 {
  flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  box-flex: 2;
  -webkit-box-flex: 2;
}
.flex-3 {
  flex: 3;
  -webkit-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  box-flex: 3;
  -webkit-box-flex: 3;
}
.flex-4 {
  flex: 4;
  -webkit-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  box-flex: 4;
  -webkit-box-flex: 4;
}
.flex-5 {
  flex: 5;
  -webkit-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  box-flex: 5;
  -webkit-box-flex: 5;
}
.flex-6 {
  flex: 6;
  -webkit-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  box-flex: 6;
  -webkit-box-flex: 6;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
/* color */
.color-main {
  color: #469aff !important;
}
.color-light {
  color: #777777 !important;
}
.color-gray {
  color: #555555 !important;
}
.color-yellowo {
  color: #ffa200 !important;
}
.color-green {
  color: #4ec93e !important;
}
.color-red {
  color: #ff5757 !important;
}
.color-gray2 {
  color: #222222 !important;
}
.color-gray3 {
  color: #333333 !important;
}
.color-gray5 {
  color: #555555 !important;
}
.color-gray9 {
  color: #999999 !important;
}
.color-gray0 {
  color: #000000 !important;
}
.color-grayD {
  color: #dddddd !important;
}
.color-grayC {
  color: #cccccc !important;
}
.color-grayE {
  color: #eeeeee !important;
}
.color-grayF4 {
  color: #f0eff5 !important;
}
.color-white {
  color: #fff !important;
}
.color-black {
  color: #000 !important;
}
/* =============
   Helper clasess
============= */
.p-0 {
  padding: 0rem !important;
}
.p-20 {
  padding: 0.2rem !important;
}
.p-30 {
  padding: 0.3rem !important;
}
.p-l-0 {
  padding-left: 0rem !important;
}
.p-r-0 {
  padding-right: 0rem !important;
}
.p-t-0 {
  padding-top: 0rem !important;
}
.p-t-10 {
  padding-top: 0.1rem !important;
}
.p-b-10 {
  padding-bottom: 0.1rem !important;
}
.p-l-r-10 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.m-0 {
  margin: 0rem !important;
}
.m-r-5 {
  margin-right: 0.05rem !important;
}
.m-r-10 {
  margin-right: 0.1rem !important;
}
.m-r-15 {
  margin-right: 0.15rem !important;
}
.m-r-20 {
  margin-right: 0.2rem !important;
}
.m-l-5 {
  margin-left: 0.05rem !important;
}
.m-l-10 {
  margin-left: 0.1rem !important;
}
.m-l-15 {
  margin-left: 0.15rem !important;
}
.m-l-20 {
  margin-left: 0.2rem !important;
}
.m-l-30 {
  margin-left: 0.3rem !important;
}
.m-t-5 {
  margin-top: 0.05rem !important;
}
.m-t-0 {
  margin-top: 0rem !important;
}
.m-t-10 {
  margin-top: 0.1rem !important;
}
.m-t-15 {
  margin-top: 0.15rem !important;
}
.m-t-20 {
  margin-top: 0.2rem !important;
}
.m-t-30 {
  margin-top: 0.3rem !important;
}
.m-t-40 {
  margin-top: 0.4rem !important;
}
.m-b-0 {
  margin-bottom: 0rem !important;
}
.m-b-5 {
  margin-bottom: 0.05rem !important;
}
.m-b-10 {
  margin-bottom: 0.1rem !important;
}
.m-b-15 {
  margin-bottom: 0.15rem !important;
}
.m-b-20 {
  margin-bottom: 0.2rem !important;
}
.m-b-30 {
  margin-bottom: 0.3rem !important;
}

/*@gray-base:                 #000;
@gray-dark:                 lighten(@gray-base, 20%);   // #333
@gray:                      lighten(@gray-base, 46.7%); // #777
@gray-light:                lighten(@gray-base, 80%); // #ccc
@gray-lighter:              lighten(@gray-base, 100%); // #fff*/
/*list*/
/*button*/
/* Tab */
/* Remove highlight on tap event*/
.maintenance-feedback[data-v-37c09106] {
  min-height: 100vh;
  background: #fff;
}
.maintenance-feedback header[data-v-37c09106] {
  width: 100%;
  padding: 0.6rem 0;
  text-align: center;
  line-height: 1;
}
.maintenance-feedback header img[data-v-37c09106] {
  width: 1.5rem;
  height: 1.5rem;
}
.maintenance-feedback header .title-cn[data-v-37c09106] {
  margin-top: 0.4rem;
  margin-bottom: 0.19rem;
}
.maintenance-feedback .focus[data-v-37c09106]:after {
  background: #FFD301 !important;
}
.maintenance-feedback section[data-v-37c09106] {
  padding: 0 0.3rem;
  overflow: hidden;
}
.maintenance-feedback section .feedback-content[data-v-37c09106] {
  padding: 0.2rem 0 0.15rem 0;
  position: relative;
  line-height: 1;
}
.maintenance-feedback section .feedback-content[data-v-37c09106]:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  -o-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.maintenance-feedback section .feedback-content .input[data-v-37c09106] {
  margin-top: 0.3rem;
  overflow: auto;
}
.maintenance-feedback section .feedback-content textarea[data-v-37c09106] {
  float: left;
  width: 100%;
  line-height: 0.34rem;
  height: 0.34rem;
}
.maintenance-feedback section .feedback-content textarea[data-v-37c09106]:focus {
  color: #FFD301 !important;
}
.maintenance-feedback section .feedback-content textarea[data-v-37c09106]:focus {
  color: #FFD301;
}
.maintenance-feedback section .feedback-content textarea[data-v-37c09106] {
  -webkit-appearance: none;
  border-radius: 0;
}
.maintenance-feedback section .feedback-img[data-v-37c09106] {
  margin-top: 0.3rem;
  padding: 0.2rem 0;
  line-height: 1;
}
.maintenance-feedback section .imgbox[data-v-37c09106] {
  margin-top: 0.3rem;
}
.maintenance-feedback section .imgbox div[data-v-37c09106] {
  float: left;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  width: 1.37rem;
  height: 1.37rem;
}
.maintenance-feedback section .imgbox .item[data-v-37c09106] {
  position: relative;
}
.maintenance-feedback section .imgbox .item i[data-v-37c09106] {
  opacity: 0.4;
  position: absolute;
  top: -0.04rem;
  right: -0.04rem;
}
.maintenance-feedback section .imgbox .item img[data-v-37c09106] {
  width: 1.37rem;
  height: 1.37rem;
}
.maintenance-feedback section .imgbox .item[data-v-37c09106]:nth-child(4n) {
  margin-right: 0;
}
.maintenance-feedback section .imgbox .upload[data-v-37c09106] {
  position: relative;
  width: 1.37rem;
  height: 1.37rem;
  text-align: center;
}
.maintenance-feedback section .imgbox .upload[data-v-37c09106]:after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 1px 1px 1px 1px;
  border-color: #eee;
  border-style: solid;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
  -webkit-pointer-events: none;
  border-radius: 0.08rem;
}
.maintenance-feedback section .imgbox .upload i[data-v-37c09106] {
  font-size: 0.55rem;
}
.maintenance-feedback footer[data-v-37c09106] {
  padding: 0.6rem 0.2rem 0.2rem 0.2rem;
}
.maintenance-feedback footer .submit[data-v-37c09106] {
  height: 0.8rem;
  line-height: 0.8rem;
  color: #fff;
  background: #dd1d21;
  text-align: center;
  border-radius: 100px;
  font-size: 0.307rem;
}
.v-toast-error {
        color: #fff;
    background: rgba(253, 112, 112, 0.9);
    border-bottom: 1px solid #ff5757;

}
.v-toast-success {
    color: #fff;
    background: rgba(84, 221, 171, .9);
    border-bottom: 1px solid #49c99a;
}
.v1-toast {
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: .23rem .2rem;
    font-size: .24rem;
    word-break: break-all;
    z-index: 5;
}
.v-toast-default {
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px #000; */
}
.file_upload{
	position: absolute;
	width: 23%;
	margin-left: 2px;
	opacity: 0;
}
